/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Noto Sans', sans-serif;;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}


/******************************************
/* LAYOUT
/*******************************************/
body {
  display: grid;
  grid-template-columns: 260px 1fr;
}

nav {
  background: #FFDBC5;
  grid-row: span 2;
}
nav a {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
nav a:hover {
  color: rgb(110, 110, 110);
}
nav li {
  padding: 5px 0;
  margin-top: 15px;
}
nav ul {
  padding-left: 30px ;
}
nav img {
  padding-right: 15px;
}
nav li:first-of-type a {
  font-size: 1.5rem;
}
nav li:nth-of-type(2) {
  margin-top: 30px;
}
nav li:nth-of-type(8) {
  margin-top: 50px;
}

header {
  grid-column: 2;
  background: #819DC0;
  display: flex;
  flex-direction: column;
}
header > section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

form,
.header-top > section:last-of-type,
.header-bottom > section:first-of-type {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.header-bottom {
  padding-bottom: 10px;
}
form input {
  height: 33px;
  border: 1px solid black;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}
form button {
  height: 33px;
  border: 1px solid black;
  background: #F9FBFE;
  margin-left: -1px;
  border-radius: 0 5px 5px 0;
}
form button:active {
  transform: translatey(2px);
}
form button:hover {
  background: rgb(164, 179, 199);
}
 
.header-top > section:last-of-type *,
.header-bottom > section:first-of-type img {
  margin-right: 15px;
}
.header-top > section:last-of-type a:last-of-type {
  display: flex;
  align-items: center;
}

.header-bottom > section:first-of-type p {
  margin: 0;
  font-weight: 700;
}
.header-bottom > section:first-of-type p + p {
  font-size: 1.4rem;
  margin-top: 5px;
}

.header-bottom ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 0;
  width: 280px;  
}
.header-bottom ul a {
  background: #FFDBC5;
  padding: 8px 15px;
  border-radius: 5px;
}
.header-bottom a:hover {
  background: #FFC5A3; 
}

main {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr minmax(200px, 250px);
  background: #b0c4de;
}
.card, 
.announcements ul, 
.trending > section {
  background: #F9FBFE;
  border-radius: 5px;
}
h2 {
  margin: 15px 0 10px;
}

.projects {
  grid-row: span 2;
  grid-column: 1;
  padding: 0 20px;
}
.card-container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
h3, h4 {
  margin: 5px 0 0;
}
.card {
  height: 200px;
  border-left: 5px solid #F1C377;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.card:hover {
  transform: scale(1.03);
}
.card > section {
align-self: flex-end;
}
.card > a p {
  margin-bottom: 5px;
  max-height: 95px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.card button {
  background: none;
  border: none;
}
.card button:active {
  transform: translatey(2px);
}

.announcements {
  grid-column: 2;
  padding-right: 20px;
}
.announcements ul {
  margin: 0;
  padding: 15px;
}
.announcements ul p {
  font-size: 0.9rem;
}

.trending {
  grid-column: 2;
  padding-right: 20px;
  padding-bottom: 20px;
}
.trending > section {
  padding: 15px;
}
.trending > section a {
  display: flex;
  padding-bottom: 20px;
  align-items: center;

}
.trending > section p {
  margin: 2px 0 0 8px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
